@use 'carMarker';
@use 'options';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.map__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0 30px 0;
}
