.carMarker {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.carMarker__img {
  height: 50px;
  object-fit: cover;
  transform-origin: center center;
}

.carMarker__status {
  position: fixed;
  bottom: 10%;
  left: 10%;
  font-size: 15px;
  font-weight: 900;
  background-color: rgba(219, 219, 219, 0.5);
  padding: 10px;
}
@media (max-width: 1280px) {
  .carMarker__status {
    bottom: 32%;
  }
}

.options__container {
  margin-top: 30px;
}
.options__container__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.options__container__routes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}
.options__container__settings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}
.options__container__button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 13px;
  background-color: #3e63ac;
  color: #fff;
  cursor: pointer;
}
.options__container__button:hover {
  color: #d2d2d2;
}
.options__container__language {
  position: fixed;
  top: 5%;
  left: 10%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.map__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0 30px 0;
}
